.container{
   margin-top: 30px;
}

.card{
    height: 50px;
    width: 50px;
}

.title{
    font-size: 4.5rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.post{
    margin-top: 60px;
    display: flex;
    align-items: center;
    gap: 50px;

}



.imgContainer{
    flex: 1;
    height: 500px;
    position: relative;
}

.image{
    object-fit: cover;
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.postTitle{
    font-size: 40px;
}

.postDesc{
    font-size: 20px;
    font-weight: 30px;
    color: var(--softTextColor);
}

.button{
    padding: 16px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: max-content;
    transition: all 0.3s;
}


@media screen and (max-width: 1280px){

    .title{
        font-size: 72px;
    }
    .cimage{
        height: 250px; 
     }
     .imgContainer{
         height: 205px;
     }
    
}

@media screen and (max-width: 1024px){

    .title{
        font-size: 64px;
    }
    
    .cimage{
       height: 300px; 
    }
    .imgContainer{
        height: 300px;
    }

    .textContainer{
        margin-top: 10px;
    }
    .post{
        display: block;
    }
}


@media screen and (max-width: 768px){

    .title{
        font-size: 46px;
    }

    .cimage{
        height: 400px; 
     }
     .imgContainer{
         height: 400px;
     }
    
}

@media screen and (max-width: 640px){

    .title{
        font-size: 36px;
    }

    .cimage{
        height: 250px; 
     }
     .imgContainer{
         height: 250px;
     }
    
}