.container{
    
}

.iconholders{
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

/* Mobile view */
@media (max-width: 768px) {
    .select {
        flex-direction: column;
    }
    .input{
        flex-direction: column;
    }
    .postimage{
        flex-direction: column;
    }
}

@media screen and (max-width: 640px) {
    .select {
        flex-direction: column;
    }
    .input{
        flex-direction: column;
        font-size: 30px;
    }
    .postimage{
        flex-direction: column;
    }
  }

/* Desktop view */
@media (min-width: 769px) {
    .select {
        flex: 0 0 calc(33.333% - 20px); /* 3 columns with space in between */
    }

    .input {
        flex: 0 0 calc(33.333% - 20px); /* 3 columns with space in between */
    }

    .postimage {
        flex: 0 0 calc(33.333% - 20px); /* 3 columns with space in between */
    }
}


.select{
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    height: 30px;
}

.input{
    padding: 50px;
    font-size: 64px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--textColor);
    flex: 2;
    padding: 10px;
    box-sizing: border-box;
    
}

.postimage{
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}







.editor{
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;
}



.textArea{
    width: 100%;
}

.loading{

}

.button, .addButton{
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: 1px solid var(--textColor);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add{
    display: flex;
    gap: 20px;
    background-color: var(--bg);
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 50px;
}

.input::placeholder{
    color: #b3b3b1;
}



.addButton{
    border-color: #1a8917;
}

.publish{
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #1a8917;
    color: white;
    cursor: pointer;
    border-radius: 25px;
}